//META{"name":"Red-Gray-Simple","description":"Simple red/gray discord theme","author":"Protocol","version":"0.9"}*//{}
	.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge {
		border-radius: 3px;
	}
	.avatarHintInner-1JYcVr {
		border-radius: 3px;
	}
.iconInactive-WWHQEI.icon-mr9wAc.iconMargin-2Js7V9 {
background-color:rgba(0,0,0,0.5) !important;
padding: 5px;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStart-pnSyE6.noWrap-v6g9vO.wrapperCollapsed-18mf-c.cursorPointer-3oKATS {
	background-color:rgba(0,0,0,0.3) !important;
}
.iconHoveredCollapsed-jNYgOD.iconTransition-vhWJ85.closed2HeF-I {
	background-color:rgba(0,0,0,0.3) !important;
}
.nameHoveredCollapused-2c-EHI.colorTransition-2iZaYd.overflowEllipsis-2ynGQq {
	background-color:rgba(0,0,0,0.3) !important;
}
#bd-pub-button {
	display: none;
}
.guild-inner[style="height: 20px; border-radius: 4px;"] {
	display: none;
}
.inputDefault-Y_U37D.input-2YozMi.size16-3IvaX_ {
	background-color:rgba(0,0,0,0.3) !important;
	border: 1px solid red;
}
.friends-online {
		background-color:rgba(0,0,0,0.2) !important;
		padding: 1.5px;
}
.filename-1XsE3E {
padding: 20px;
}
.icon-19bbE_.webcode-2KLdAe {
display: none;
}
.uploadModal-2KN6Mm.theme-brand {
background-color:#1e1e1e !important;
}
	.inner-1-09ZV {
	background-color:#1e1e1e !important;
	}
.flex-lFgbSz.flex-3B1Tl4.horizontalReverse-2LanvO.horizontalReverse-k5PqxT.flex-3B1Tl4.directionRowReverse-2eZTxP.justifyStart-2yIZo0.alignStretch-1hwxMa.noWrap-v6g9vO.footer-1PYmcw {
background-color:#1e1e1e !important;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignCenter-3VxkQP.noWrap-v6g9vO.header-3sp3cE {
background-color:#1e1e1e !important;
}
.scroller-fzNley.inner-tqJwAU {
background-color:#1e1e1e !important;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignCenter-3VxkQP.noWrap-v6g9vO.header-3sp3cE.separator-NBIcXB {
background-color:#1e1e1e !important;
}
.separator-1hpa3S {
background-color:red !important;
}
.friends-icon {
background-color:rgba(0,0,0,0.3) !important;
border-radius: 3px;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStart-pnSyE6.noWrap-v6g9vO.wrapperDefault-1Dl4SS.cursorPointer-3oKATS {
background-color:rgba(0,0,0,0.3) !important;
float:center !important;
}
.iconActive-3K4uxh.icon-mr9wAc.iconMargin-2Js7V9 {
background-color:rgba(0,0,0,0.3) !important;
padding: 5px;
}
.guild-name {
background-color:rgba(0,0,0,0.2) !important;
padding: 1px;
}
.footer {
display: none !important;
}
.guild-name
.bodyTitle-yehI7c.marginBottom8-1mABJ4.size12-1IGJl9.weightBold-2qbcng {
background-color:rgba(0,0,0,0.3) !important;
padding: 1.5px;
}
.role-3rahR_.flex-3B1Tl4.alignCenter-3VxkQP.size12-1IGJl9.weightMedium-13x9Y8 {
border-radius:3px;
border: 1.5px solid;
padding: 0.5px;
}
.file-input {
border-radius:3px;
}
.roleCircle-3-vPZq {
display:none !important;
}
.icon-1oniCb {
	display: none;
}
.questionMark-1R8WLs.flexCenter-28Hs0n.flex-3B1Tl4.justifyCenter-29N31w.alignCenter-3VxkQP
{
	display: none;
}
.body-3rkFrF {
background-color:#2B2B2B !important;
}
.scroller-fzNley[class="userInfoSection-2WJxMm"] {
background-color:#2B2B2B !important;
}
.footer-2J5zqP {
display: none;
}
.quickMessage-318jK-.quickMessage-28pD5Y.marginBottom8-1mABJ4 {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
padding: 5px;
}
.protip-12obwm.inline-XIL6yQ {
display:none !important;
}
.avatarStatus-1g8f0K.statusIdle-2AQdvu.status-3jUEha.statusIdleProfile-2QT8cN.statusProfile-29OBzn {
border-radius: 3px !important;
}
.statusOffline-jZXr_u.status-3jUEha.statusOfflineProfile-1wnfgz.statusProfile-29OBzn {
border-radius: 3px !important;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyCenter-29N31w.alignCenter-3VxkQP.noWrap-v6g9vO.avatarHint-2i5XWK.maskProfile-MeBve8.mask-2vyqAW.size10-1ZEdeK.height12-1-l4d8.weightBold-2qbcng {
border-radius: 3px !important;
}
.avatarStatus-1g8f0K.statusOnline-1Mp2_H.status-3jUEha.statusOnlineProfile-2tnPUH.statusProfile-29OBzn {
border-radius: 3px !important;
}
.statusIdle-2AQdvu.status-3jUEha.statusIdleProfile-2QT8cN.statusProfile-29OBzn {
border-radius: 3px !important;
}
.avatarStatus-1g8f0K.statusDnd-35xAXU.status-3jUEha.statusDndProfile-3KCGdy.statusProfile-29OBzn {
border-radius: 3px !important;
}
.ui-form-title.h2.margin-reset.margin-bottom-20 {
background-color:rgba(0,0,0,0.3) !important;
padding: 5px;
}
.scroller-fzNley.scroller-NXV0-d {
background-color:rgba(0,0,0,0.1) !important;
}
.header {
background-color:rgba(0,0,0,0.5) !important;
}
.bd-pfbtn.bd-updatebtn {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.bda-settings-button{
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonRedFilledDefault-1TrZ9q.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonRedFilled-1NjJNj.mediumGrow-uovsMu {
	background-color:rgba(0,0,0,0.3) !important;
	border: 1px solid red;
	}
.bd-pfbtn {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonGreenFilledDefault-_lLQaz.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonGreenFilled-6QHNrw.mediumGrow-uovsMu.actionButton-3SG1Zj {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandInvertedDefault-uUmgsD.buttonInvertedDefault-1UdvTn.buttonDefault-2OLW-v.button-2t3of8.buttonInverted-7rpaNT.buttonBrandInverted-VFL7Yc.mediumGrow-uovsMu.actionButton-3SG1Zj {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
color:red !important;
}
.flex-lFgbSz.flex-3B1Tl4.vertical-3X17r5.flex-3B1Tl4.directionColumn-2h-LPR.justifyCenter-29N31w.alignCenter-3VxkQP.noWrap-v6g9vO.headerTop-1QGMLs {
background-color:#1e1e1e !important;
}
.activityUserPopout-1nmgaw.activity-AFBUEw {
background-color:#2B2B2B !important;
}
.listRow-1wEi-U.flex-3B1Tl4.weightMedium-13x9Y8 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
background-position: center !important;
}
.header-2Lg0Oe.flex-3B1Tl4.alignCenter-3VxkQP {
background-color:#1e1e1e !important;
}
.new-messages-bar {
background-color:rgba(0,0,0,0.3) !important;
}
.headerTextNormal-3zWFIS.headerText-2CVBxK.marginBottom8-1mABJ4.small-3-03j1.size12-1IGJl9.height16-1qXrGy.weightBold-2qbcng {
background-color:rgba(0,0,0,0.3) !important;
padding:1.5px !important;
}
.theme-dark .cardPrimaryEditable-2IQ7-V[style="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218); padding: 10px;"]{
    border-color: indianred !important;
}
.itemSelected-3XxAMf.item-3879bf.selected-eNoxEK {
background-color:rgba(0,0,0,0.2) !important;
}
.header-1-f9X5 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.separator-3z7STW .marginTop8-2gOa2N .marginBottom8-1mABJ4 {
background-color:rgba(0,0,0,0.5) !important;
}
.inputDefault-2tiBIA.input-oWyROL {
color:red !important;
}
.ui-tab-bar-header {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.contentsDefault-nt2Ym5.contents-4L4hQM.contentsLink-2ScJ_P.contents-4L4hQM {
color:red;
}
.flex-center.now-playing {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.game-name.game-name-input {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.item-2zi_5J.marginBottom8-1mABJ4.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.cardPrimaryEditable-2IQ7-V.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.titleDefault-1CWM9y.title-3i-5G_.marginReset-3hwONl.weightMedium-13x9Y8.size16-3IvaX_.height24-2pMcnc.flexChild-1KGW5q {
background-color:rgba(0,0,0,0.2) !important;
padding:1.5px;
}
.activityProfile-2pymp0.activity-1Sr8Y2 {
background-color:#1e1e1e !important;
}
.connectedAccounts-3WWAND.flex-3B1Tl4.justifyBetween-1d1Hto.wrap-1da0e3 {
background-color:rgba(0,0,0,0.2) !important;
padding:1.5px;
}
.note-2AtC_s.note-39NEdV {
background-color:rgba(0,0,0,0.2) !important;
padding:10px;
}
.tabBarContainer-3RVZc- {
background-color:#1e1e1e !important;
}
.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignCenter-3VxkQP.noWrap-v6g9vO.connectedAccount-3mKaTA {
background-color:transparent !important;
}
.h4-2IXpeI.title-1pmpPr.size16-3IvaX_.height20-165WbF.weightSemiBold-T8sxWH.defaultColor-v22dK1.defaultMarginh4-jAopYe.marginReset-3hwONl {
background-color:rgba(0,0,0,0.3) !important;
padding:5px;
}
.checkboxEnabled-4QfryV.checkbox-1KYsPm {
background-color:red !important;
}
.bar-2cFRGz {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.item-2zi_5J.marginBottom8-1mABJ4.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.cardPrimaryEditable-2IQ7-V.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.mediumGrow-uovsMu {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonPrimaryOutlinedDefault--H0hhk.buttonOutlinedDefault-3FNQnZ.buttonDefault-2OLW-v.button-2t3of8.buttonOutlined-38aLSW.mediumGrow-uovsMu.premium-options-button {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.flex-lFgbSz.flex-3B1Tl4.vertical-3X17r5.flex-3B1Tl4.directionColumn-2h-LPR.justifyCenter-29N31w.alignCenter-3VxkQP.noWrap-v6g9vO.preview-overlay-inner {
background-color:rgba(0,0,0,0.4) !important;
}
.buttonGreenFilledDefault-_lLQaz.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonGreenFilled-6QHNrw.mediumGrow-uovsMu.premium-options-button {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.switch-3lyafC.themeDefault-3M0dJU {
  background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
 .valueChecked-3Bzkbm {
    background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
  }
.themeDefault-3M0dJU.valueChecked-3Bzkbm {
background-color:red;
}
.contentSelectedText-3j5CXt.content-2mSKOj {
background-color:rgba(0,0,0,0.5) !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.defaultMarginh5-2UwwFY.marginBottom8-1mABJ4 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.margin-bottom-4 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.margin-bottom-8 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h2-2ar_1B.title-1pmpPr.size16-3IvaX_.height20-165WbF.weightSemiBold-T8sxWH.defaultColor-v22dK1.margin-bottom-20 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.ui-tab-bar-item.selected {
background-color:rgba(0,0,0,0.2) !important;
}
.barFill-18ABna {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonGreenFilledDefault-_lLQaz.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonGreenFilled-6QHNrw.smallGrow-2_7ZaC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonRedOutlinedDefault-1VCgwL.buttonOutlinedDefault-3FNQnZ.buttonDefault-2OLW-v.button-2t3of8.buttonOutlined-38aLSW.buttonRedOutlined-2t9fm_.smallGrow-2_7ZaC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.remove-button {
color:red !important;
}
.btn {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.smallGrow-2_7ZaC.userInfoViewingButton-3o3aim {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.smallGrow-2_7ZaC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.h2-2ar_1B.title-1pmpPr.size16-3IvaX_.height20-165WbF.weightSemiBold-T8sxWH.defaultColor-v22dK1.defaultMarginh2-37e5HZ.marginBottom20-2Ifj-2 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.authedApp-2JX_oI.marginBottom8-1mABJ4.cardPrimaryOutline-2YyAz2.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
/*.old-h2 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px;
}*/
.tab-bar-item.tab-bar-item-primary {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.friends-table-header {
background-color:rgba(0,0,0,0.3) !important;
}
.tab-bar-item.tab-bar-item-primary.selected {
background-color:red;
}
.messages-popout.scroller {
background-color:rgba(0,0,0,0.3) !important;
}
.button.button-primary {
background-color:rgba(0,0,0,0.3) !important;
color: red !important;
}
.button {
background-color:rgba(0,0,0,0.3) !important;
}
.uploadModal-2KN6Mm.theme-brand {
background-color:rgba(0,0,0,0.1) !important;
}
.inner-1-09ZV {
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8{
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8
.message-group.hide-overflow {
background-color:rgba(0,0,0,0.5) !important;
}
.message-group-blocked-btn {
background-color:rgba(0,0,0,0.5) !important;
}
.devider {
background-color:rgba(0,0,0,0.3) !important;
}
.search-bar {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.container-iksrDt {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.header-1tSljs {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}

	.jump-to-present-bar {
		background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.account .status {
		width: 7px;
		height: 7px;
		border-radius: 0;
	}

	.guilds-wrapper .guilds .guild.unread:before {
		border-radius: 0;
	}
	.account .btn-deafen, .account .btn-mute, .account .btn-settings {
	    background-color: rgba(0,0,0,0.3) !important;
	    box-shadow: none;
	    border: none;
	}

	.botTagRegular-288-ZL.botTag-1OwMgs {
		background-color:rgba(0, 0, 0, 0.1) !important;
		color: red;
	}
	.botTagInvert-gorWR_.botTag-1OwMgs.headerBotTag-1I8GCn {
		background-color:rgba(0, 0, 0, 0.1) !important;
		color: red;
	}
	.iconBadge-1FYlQB {
		background-color:rgba(0, 0, 0, 0.5) !important;
		border: 3px solid red;
	}
	.badge {
		background-color:rgba(0, 0, 0, 0.3) !important;
		color:red;
	}
	.roleName-DUQZ9m {
		padding:1px !important;
	}
	.addButtonIcon-3GVNfn {
		padding:1px !important;
	}
	.flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignCenter-3VxkQP.noWrap-v6g9vO marginReset-1YolDJ {
		background-color:#1e1e1e !important;
	}
	.status.status-unknown {
		border-radius: 3px;
	}
	.guilds-wrapper .guild-separator:after {
		background-color:rgba(0,0,0,0.3) !important;
		margin-top: 0px;
		margin-left:-20px;
		margin-right: 0px;
		width: 80px;
		height: 4px;
	}

	.image-EVRGPw maskProfile-MeBve8 mask-2vyqAW {
		border-radius: 3px !important;
	}
	.guild-inner {
		background-color: transparent !important;
	}

	.guilds-wrapper .guilds-add {
		border: 1px solid red;
		color: red;
	}

	.guilds-wrapper .guilds-error {
		border-radius:0;
		border: 1px solid red;
		background-color: transparent;
	}

	.guilds .guild:first-child {
    	margin-top: -3px;
	}

	.titlebar {
    	left: 80px;
	}
	.status.status-dnd {
		border-radius: 3px !important;
	}
	.statusDnd-35xAXU.status-3jUEha.statusDndProfile-3KCGdy.statusProfile-29OBzn {
		border-radius: 3px !important;
	}
    .status.status-online {
		border-radius: 3px !important;
	}
	.statusOnline-1Mp2_H.status-3jUEha.statusOnlineProfile-2tnPUH.statusProfile-29OBzn {
		border-radius: 3px !important;
	}
	.status.status-idle {
		border-radius: 3px !important;
	}
	.status.status-offline {
		border-radius: 3px !important;
	}

.titlebar + div {
   	margin-left: -80px;
	}

.create-guild-container {
	background: rgba(0,0,0,0.3);
}

.create-guild-container .action {
	background: rgba(0,0,0,0.3);
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:1px solid red !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:1px solid red !important;
	background-color:rgba(0,0,0,0.5) !important;
}
.message-group {
    background: rgba(0,0,0,0.3) !important;
	padding: 20px !important;
	margin-top: 5px;
}
.theme-dark .inner-3if5cm {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid red
}
.titleText-2IfpkV {
    background: rgba(0,0,0,0.3) !important;
	padding: 5px !important;
}
.messages.scrollbar {
    background: red !important;
}
.channel-members,
.guilds-wrapper {
    background: rgba(0,0,0,0.5) !important;
}
}
.account {
    height: 50px;
    background: rgba(0,0,0,0.5) !important;
    border-top: none
}
.account .account-details {
    padding: 0 7px
}
.account .account-details .username {
    max-width: 85px
}
.account .btn {
    width: 28px;
   background: rgba(0,0,0,0.5) !important;
}
.account .btn-group {
    border: none
}
.account .btn-deafen,
.account .btn-mute {
    border-right: none
}
.account .btn-deafen,
.account .btn-settings {
    box-shadow: none
}
.channels-3g2vYe {
    background-color: rgba(0,0,0,0.3);
}
.container-RYiLUQ {
    background-color:  transparent;
}
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("http://sf.co.ua/16/08/wallpaper-3a762.jpg");
	background-size: cover !important;
	background-position: center !important;
}