//META{"name":"Red-Gray-Simple","description":"Simple red/gray discord theme","author":"Protocol","version":"1.0"}*//{}
.filename-1XsE3E {
padding: 20px;
}
.icon-19bbE_.webcode-2KLdAe {
display: none;
}
.button.button-primary {
background-color:rgba(0,0,0,0.3) !important;
}
.button {
background-color:rgba(0,0,0,0.3) !important;
}
.uploadModal-2KN6Mm.theme-brand {
background-color:rgba(0,0,0,0.1) !important;
}
.inner-1-09ZV {
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8{
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8
.message-group.hide-overflow {
background-color:rgba(0,0,0,0.5) !important;
}
.message-group-blocked-btn {
background-color:rgba(0,0,0,0.5) !important;
}
.devider {
background-color:rgba(0,0,0,0.3) !important;
}
.search-bar {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.container-iksrDt {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.header-1tSljs {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}

	.account .status {
		width: 7px;
		height: 7px;
		border-radius: 0;
	}

	.guilds-wrapper .guilds .guild.unread:before {
		border-radius: 0;
	}
	.account .btn-deafen, .account .btn-mute, .account .btn-settings {
	    background-color: rgba(0,0,0,0.3) !important;
	    box-shadow: none;
	    border: none;
	}

	.guilds-wrapper .guild-separator:after {
		background-color:rgba(0,0,0,0.3) !important;
		margin-top: 0px;
		margin-left:-20px;
		margin-right: 0px;
		width: 80px;
		height: 4px;
	}

	.guild-inner {
		background-color: transparent !important;
	}

	.guilds-wrapper .guilds-add {
		border: 1px solid red;
		color: red;
	}

	.guilds-wrapper .guilds-error {
		border-radius:0;
		border: 1px solid red;
		background-color: transparent;
	}

	.guilds .guild:first-child {
    	margin-top: -3px;
	}

	.titlebar {
    	left: 80px;
	}

.titlebar + div {
   	margin-left: -80px;
	}

.create-guild-container {
	background: rgba(0,0,0,0.3);
}

.create-guild-container .action {
	background: rgba(0,0,0,0.3);
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:1px solid red !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:1px solid red !important;
	background-color:rgba(0,0,0,0.3) !important;
}
/*Messages*/
.message-group {
    background: rgba(0,0,0,0.3) !important;
	padding: 20px !important;
	margin-top: 5px;
}
/*Message Box*/
.theme-dark .inner-3if5cm {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid red
}
.titleText-2IfpkV {
    background: rgba(0,0,0,0.3) !important;
	padding: 5px !important;
}
.messages.scrollbar {
    background: red !important;
}

.channel-members,
.guilds-wrapper {
    background: rgba(0,0,0,0.5) !important;
}
}
.account {
    height: 50px;
    background: rgba(0,0,0,0.5) !important;
    border-top: none
}
.account .account-details {
    padding: 0 7px
}
.account .account-details .username {
    max-width: 85px
}
.account .btn {
    width: 28px;
   background: rgba(0,0,0,0.5) !important;
}
.account .btn-group {
    border: none
}
.account .btn-deafen,
.account .btn-mute {
    border-right: none
}
.account .btn-deafen,
.account .btn-settings {
    box-shadow: none
}
.channels-3g2vYe {
    background-color: rgba(0,0,0,0.3);
}
.container-RYiLUQ {
    background-color:  transparent;
}
 /* fix not having a background image anymore */
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}

.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("http://sf.co.ua/16/08/wallpaper-3a762.jpg");
	background-size: cover !important;
	background-position: center !important;
}
