//META{"name":"Red-Gray-Simple","description":"Simple red/gray discord theme","author":"Protocol","version":"1.0"}*//{}
.iconInactive-WWHQEI.icon-mr9wAc.iconMargin-2Js7V9 {
background-color:rgba(0,0,0,0.5) !important;
padding: 5px;
}
.filename-1XsE3E {
padding: 20px;
}
.icon-19bbE_.webcode-2KLdAe {
display: none;
}
.iconActive-3K4uxh.icon-mr9wAc.iconMargin-2Js7V9 {
background-color:rgba(0,0,0,0.3) !important;
padding: 10px;
}
.header {
background-color:rgba(0,0,0,0.5) !important;
}
.header-2Lg0Oe.flex-3B1Tl4.alignCenter-3VxkQP {
background-color:rgba(0,0,0,0.5) !important;
}
.new-messages-bar {
background-color:rgba(0,0,0,0.3) !important;
}
.theme-dark .cardPrimaryEditable-2IQ7-V[style="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218); padding: 10px;"]{
    border-color: indianred !important;
}
.itemSelected-3XxAMf.item-3879bf.selected-eNoxEK {
background-color:rgba(0,0,0,0.2) !important;
}
.header-1-f9X5 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.separator-3z7STW .marginTop8-2gOa2N .marginBottom8-1mABJ4 {
background-color:rgba(0,0,0,0.5) !important;
}
.inputDefault-2tiBIA.input-oWyROL {
color:red !important;
}
.ui-tab-bar-header {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.item-2zi_5J.marginBottom8-1mABJ4.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.cardPrimaryEditable-2IQ7-V.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
}
.checkboxEnabled-4QfryV.checkbox-1KYsPm {
background-color:red !important;
}
.bar-2cFRGz {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.item-2zi_5J.marginBottom8-1mABJ4.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.cardPrimaryEditable-2IQ7-V.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.mediumGrow-uovsMu {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonPrimaryOutlinedDefault--H0hhk.buttonOutlinedDefault-3FNQnZ.buttonDefault-2OLW-v.button-2t3of8.buttonOutlined-38aLSW.mediumGrow-uovsMu.premium-options-button {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.flex-lFgbSz.flex-3B1Tl4.vertical-3X17r5.flex-3B1Tl4.directionColumn-2h-LPR.justifyCenter-29N31w.alignCenter-3VxkQP.noWrap-v6g9vO.preview-overlay-inner {
background-color:rgba(0,0,0,0.4) !important;
}
.buttonGreenFilledDefault-_lLQaz.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonGreenFilled-6QHNrw.mediumGrow-uovsMu.premium-options-button {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.switch-3lyafC.themeDefault-3M0dJU {
  background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
 .valueChecked-3Bzkbm {
    background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
  }
-.themeDefault-3M0dJU.valueChecked-3Bzkbm {
background-color:red;
}
.contentSelectedText-3j5CXt.content-2mSKOj {
background-color:rgba(0,0,0,0.5) !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.defaultMarginh5-2UwwFY.marginBottom8-1mABJ4 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.margin-bottom-4 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h5-3KssQU.title-1pmpPr.size12-1IGJl9.height16-1qXrGy.weightSemiBold-T8sxWH.margin-bottom-8 {
background-color:rgba(0,0,0,0.2) !important;
padding:5px !important;
}
.h2-2ar_1B.title-1pmpPr.size16-3IvaX_.height20-165WbF.weightSemiBold-T8sxWH.defaultColor-v22dK1.margin-bottom-20 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.ui-tab-bar-item.selected {
background-color:rgba(0,0,0,0.5) !important;
}
.barFill-18ABna {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.btn {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.smallGrow-2_7ZaC.userInfoViewingButton-3o3aim {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.buttonBrandFilledDefault-2Rs6u5.buttonFilledDefault-AELjWf.buttonDefault-2OLW-v.button-2t3of8.buttonFilled-29g7b5.buttonBrandFilled-3Mv0Ra.smallGrow-2_7ZaC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.h2-2ar_1B.title-1pmpPr.size16-3IvaX_.height20-165WbF.weightSemiBold-T8sxWH.defaultColor-v22dK1.defaultMarginh2-37e5HZ.marginBottom20-2Ifj-2 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px !important;
}
.authedApp-2JX_oI.marginBottom8-1mABJ4.cardPrimaryOutline-2YyAz2.card-3DrRmC {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
/*.old-h2 {
background-color:rgba(0,0,0,0.3) !important;
padding:5px;
}*/
.tab-bar-item.tab-bar-item-primary {
background-color:rgba(0,0,0,0.3) !important;
border: 1px solid red;
}
.friends-table-header {
background-color:rgba(0,0,0,0.3) !important;
}
.tab-bar-item.tab-bar-item-primary.selected {
background-color:red;
}
.messages-popout.scroller {
background-color:rgba(0,0,0,0.3) !important;
}
.button.button-primary {
background-color:rgba(0,0,0,0.3) !important;
}
.button {
background-color:rgba(0,0,0,0.3) !important;
}
.uploadModal-2KN6Mm.theme-brand {
background-color:rgba(0,0,0,0.1) !important;
}
.inner-1-09ZV {
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8{
background-color:rgba(0,0,0,0.3) !important;
}
.footer-4pOKm8
.message-group.hide-overflow {
background-color:rgba(0,0,0,0.5) !important;
}
.message-group-blocked-btn {
background-color:rgba(0,0,0,0.5) !important;
}
.devider {
background-color:rgba(0,0,0,0.3) !important;
}
.search-bar {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.container-iksrDt {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}
	.header-1tSljs {
	    background-color: rgba(0,0,0,0.3) !important;
	    border: none;
	}

	.account .status {
		width: 7px;
		height: 7px;
		border-radius: 0;
	}

	.guilds-wrapper .guilds .guild.unread:before {
		border-radius: 0;
	}
	.account .btn-deafen, .account .btn-mute, .account .btn-settings {
	    background-color: rgba(0,0,0,0.3) !important;
	    box-shadow: none;
	    border: none;
	}

	.guilds-wrapper .guild-separator:after {
		background-color:rgba(0,0,0,0.3) !important;
		margin-top: 0px;
		margin-left:-20px;
		margin-right: 0px;
		width: 80px;
		height: 4px;
	}

	.guild-inner {
		background-color: transparent !important;
	}

	.guilds-wrapper .guilds-add {
		border: 1px solid red;
		color: red;
	}

	.guilds-wrapper .guilds-error {
		border-radius:0;
		border: 1px solid red;
		background-color: transparent;
	}

	.guilds .guild:first-child {
    	margin-top: -3px;
	}

	.titlebar {
    	left: 80px;
	}

.titlebar + div {
   	margin-left: -80px;
	}

.create-guild-container {
	background: rgba(0,0,0,0.3);
}

.create-guild-container .action {
	background: rgba(0,0,0,0.3);
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:1px solid red !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:1px solid red !important;
	background-color:rgba(0,0,0,0.3) !important;
}
.message-group {
    background: rgba(0,0,0,0.3) !important;
	padding: 20px !important;
	margin-top: 5px;
}
.theme-dark .inner-3if5cm {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid red
}
.titleText-2IfpkV {
    background: rgba(0,0,0,0.3) !important;
	padding: 5px !important;
}
.messages.scrollbar {
    background: red !important;
}
.channel-members,
.guilds-wrapper {
    background: rgba(0,0,0,0.5) !important;
}
}
.account {
    height: 50px;
    background: rgba(0,0,0,0.5) !important;
    border-top: none
}
.account .account-details {
    padding: 0 7px
}
.account .account-details .username {
    max-width: 85px
}
.account .btn {
    width: 28px;
   background: rgba(0,0,0,0.5) !important;
}
.account .btn-group {
    border: none
}
.account .btn-deafen,
.account .btn-mute {
    border-right: none
}
.account .btn-deafen,
.account .btn-settings {
    box-shadow: none
}
.channels-3g2vYe {
    background-color: rgba(0,0,0,0.3);
}
.container-RYiLUQ {
    background-color:  transparent;
}
.layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_ {
  background: transparent !important;
}
.layers-20RVFW {
  background: rgba(0,0,0, 0.3) !important;
}
.container-2OU7Cz {
    background-color:  rgba(0,0,0,0);
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("http://sf.co.ua/16/08/wallpaper-3a762.jpg");
	background-size: cover !important;
	background-position: center !important;
}